.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

ul {
  margin: 20px;
  padding: 0;
}
li {
  list-style-type: none;
}

.ticket {
  white-space: normal;
  background-color: black;
  background-image: url(static/imgs/discoBG.png);
  background-size: 70%;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  margin: 5px;
  color: white; 
}

.qr-small{
  height: 50px;
  margin: 5px;
}
